



header a:hover{
    color: #025373;
    transform: scale(1.05);
}



header nav ul li{
    font-size: 18px;
    padding: 0 30px;
}
#header2{float: right ;}
#BOTAO{background-color:#025373;}
#imagem{border: none;}
h6{color:  white;}
body{background-color: #94CEF2;}
.buttonUM{background-color: blue;
color: white;
border-radius: 10px;
float: right ;}
.form-select{border: none;
background: none; text-align: center;}
.img1{
width: 300px;
height: 225px;
border-radius: 10px;}
.buttonDOIS{ border-radius: 10px;
background:none;
color: black;
border: none;}
input{border: none;
top:initial;
text-align: center;}
.Data{background:none;}
h1{color: #F2F2F2;}
.number{
border-radius: 10px;
width: 40px;}
#container,#row,.col-sm-3,.col-lg-3
   {background-color:white;
    border: 1px solid #025E73;}
.col-sm-8{text-align: start;}
.col,.row{text-align: center;
width: auto;
height: auto;}
