
#BOTAO{background-color:#025373;}
#imagem{border: none;}
h6{color:  white;}
body{background-color: #94CEF2;}
.buttonUM{background-color: blue;
color: white;
border-radius: 10px;
float: right ;}
select{border: none;
background: none;}
img{
width: 200px;
height: 150px;
border-radius: 10px;}
.buttonDOIS{ border-radius: 10px;
background:none;
color: black;
border: none;}
input{border: none;
top:initial;
text-align: center;}
.Data{background:none;}
h1{color: #F2F2F2;}
.number{
border-radius: 10px;
width: 40px;}
.container,.row,.col
   {background-color:white;
    border: 1px solid #025E73;}
.col-8{text-align: start;}
.col,.row{text-align: center;
width: auto;
height: auto;}
