

#corpo-login{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    border-radius: 8%;
}

#titleLogin{
    text-align: center;
    margin-top: 2%;
}

#button{
    width: 40% ; 
    color: rgb(18, 18, 18);
}

#form{
    text-align: center;
}

#linkCadastro{
    text-align: center;
}

#button{
    background-color: #5CB9FF;
}
