/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5CB9FF;
    height: 100vh;
}

.nav-link{
    color: white;
}

#conteiner{
    width:  100%;
}

/*RODAPÉ*/

footer{
    padding: 20px 4%;
    background-color: #025373;
    display: flex;
}

footer a{
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
}

footer a:hover{
    color: #5CB9FF;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    display: inline-block;
    font-size: 16px;
    padding: 20px;
}