/*CABEÇALHO*/



header a:hover{
    color: #025373;
    transform: scale(1.05);
}



header nav ul li{
    font-size: 18px;
    padding: 0 30px;
}

/*-----------------------------------------------------------*/

#corpo-login{
    margin-top: 8%;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    border-radius: 8%;
}

#titleLogin{
    text-align: center;
    margin-top: 2%;
}

#button{
    width: 40% ; 
    color: rgb(18, 18, 18);
}

#form{
    text-align: center;
}

#linkCadastro{
    text-align: center;
}

#button{
    background-color: #5CB9FF;
}
