<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        h1{color: rgb(0, 47, 148);
        text-align: center;
    font-family: sans-serif;}
    </style>
</head>
<body>
   <h1>rapaz ele ta sem zap..........</h1>
   <!-- imagem, data,  -->
</body>
</html>
