<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendei</title>
    <link rel="icon"  href="https://raw.githubusercontent.com/MoisesVN/agendei/main/App_Agendei/Assets/img/favicon_01/favicon.ico">
</head>
<body>
    <h1>AGENDEI.COM</h1>
     <!-- imagem, data,local, quantidade de pessoas, pesquisar -->
    <Table>
        <tr>
            <td>Local</td>
            <td>Data</td>
            <td>quantidade de pessoas</td>
            <td>pesquisar</td>
        </tr>
    </Table>
</body>
</html>