<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>agendei</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/cadastro.css"> 
    <link rel="stylesheet" href="../Assets/css/index.css">
    <link rel="stylesheet" href="../Assets/css/geral.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg " id="navbar">
            <div class="conteiner-fluid" id="conteiner">      
                <ul class="navbar-nav navbar-brand " > 
                <a href="../Views/cadastro.html" class="nav-link" class="" id="">
                    <img  src="../Assets/img/Logo-Agendei01.jpeg" height="100" width="100" alt="" id="logo"> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" id="button">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                </a>
                
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="collapse navbar-collapse "  id="n_bar"></div>
                    <li class="nav-item" >
                        <a href="../Views/pesquisa.html" class="nav-link">Pesquisar</a>
                    </li>
                    <li class="nav-item" >
                        <a href="" class="nav-link">Chat</a>
                    </li>
                    <li class="nav-item" >
                        <a href="../Views/login.html" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item" >
                        <a href="../Views/perfil.html" class="nav-link">Perfil</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="corpo-login"  class=" conteiner-fluid justify-content-center">
        <div class="row d-flex justify-content-center">
            <h2 id="titleLogin">Cadastre-se</h2>
        </div>
        <div class=" row  justify-content-center">
            <form class="col-sm-2, col-md-6" method="post" action="../Back/PHP/cadastro.php"> <!--precisa cria uma validaçao para esse cadastro, principalmento o de senha. Comentario feito por Moisés-->
                <div class="row form-control-lg  justify-content-center">
                    <input type="text" name="nome" placeholder="Nome" id="form" class="justify-content-center" required>
                </div>
                <div class="row form-control-lg  justify-content-center ">
                    <input type="email" name="email" placeholder="Email" id="form" class="justify-content-center" required>
                </div>
                <div class=" row form-control-lg  justify-content-center"  >
                    <input type="password" name="senha" placeholder="Senha" id="form" class="justify-content-center " required>
                </div>
                <div class=" row form-control-lg  justify-content-center "  >
                    <input type="password"  placeholder="Confirme sua Senha" id="form" class="justify-content-center " required>
                </div>
                <div class=" row form-control-lg  justify-content-center mb-3"  >
                <label for="">Aceitar todos os termos de responsabilidade  <input type="checkbox" id="form" class=" "></label>
                </div>
                <div class=" row  justify-content-center">
                    <input type="submit" value="Cadastra" id="button" class="btn btn-light mb-3 row col-md-2  btn-m"> <!--Teste para o formulario-->
                    <!-- <button id="button" type="button" class="btn btn-light mb-3 row col-md-2  btn-m" >
                        Entrar
                    </button> -->
                </div>
                <div id="linkCadastro" class="row">
                    <p>Já tenho conta <a href="../Views/perfil.html">Entrar</a></p>
                </div>
            </form>
        </div>
    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
