<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/css/geral.css">
    <link rel="stylesheet" href="../Assets/css/perfil.css">
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a href="#"> <!--Coloquei um '#' para de deixar em aberto, para o caso de precisar colocar algum link de redirecionamento na imagem da Logo-->
                    <img src="../Assets/img/Logo-Agendei01.jpeg" alt="Logo" height="100" width="100">
                </a>
            </div> <!--FINAL DA DIV LOGO-->

            <nav>
                <ul>
                    <li><a href="./pesquisa.html">Pesquisar</a></li>
                    <li><a href="#">Chat</a></li>
                    <li><a href="./login.html">Login</a></li>
                    <li><a href="./perfil.html">Perfil</a></li>
                </ul>
            </nav>
        </div> <!--FINAL DA DIV LOGO-->
    </header>
    <div id="corpo-login">
        <h2 id="titleLogin">Login</h2>
        <div class="d-flex justify-content-center">
            <form class="col-5">
                <input type="text" class="form-control form-control-lg mb-5"  id="exampleFormControlInput1" placeholder="Login">
                <input type="password" class="form-control form-control-lg mb-5" id="exampleFormControlInput1"  placeholder="Senha">
                <div class="d-flex justify-content-center">
                    <button id="button" type="button" class="btn btn-light btn-lg mb-5 ">Entrar</button>
                </div>
                <div id="linkCadastro">
                    <a href="">Criar Conta</a>
                </div>
            </form>
        </div>
    </div>

   
   
   
    
   
   
   
   
   
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>